@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
}
.bg-primary {
  background-color: #1d2937;
}
.bg-secondary {
  background-color: darkgoldenrod;
}
.bg-light-6{
  background-color: rgb(242,242,247);
}
.bg-dark-1{
  background-color: rgb(142,142,147)
}
.bg-dark-2{
  background-color: rgb(99,99,102)
}
.bg-dark-3{
  background-color: rgb(72,72,74)
}
.bg-dark-4{
  background-color: rgb(58,58,60)
}
.bg-dark-5{
  background-color: rgb(44,44,46)
}
.bg-dark-6{
  background-color: rgb(28,28,30)
}
.bg-dark-7{
  background-color: black;
}
.navbar {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
}
.icon {
  height: 5vh;
  width: 5vh;
}
.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 14px;
  color: #eee;
}
.footer .container {
  justify-content: center;
}
.container-fluid {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}
.container {
  max-width: 2000px;
  width: 80em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  overflow: hidden;
}
.container-sm {
  max-width: 1500px;
  width: 65em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  overflow: hidden;
}
.row {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
}
.col {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.left-items,
.right-items {
    flex:1;
  gap: 1em;
  display: flex;
  align-items: center;
}
.right-items{
    justify-content: flex-end;
}
h1 a {
  font-size: 24px;
}
.hero-main-text {
  flex: auto;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.hero-secondary-text {
  flex: auto;

  font-size: 18px;
  color: #e5e7eb;
}
.information-header{
  color: white;
  font-weight: bolder;
  font-size: 36px;
}

.button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  flex: 0 1 auto;
  width: 100px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}
.hero-img {
  display: flex;
  flex: 1;
  width: 40em;
  height:auto;
  overflow: hidden;
}
.entry {
  display: flex;
  align-items: center;
  padding: 2em 0;
}
.entry-1{
  padding:3em;
}
.entry-2{
  padding:8em;
}
.entry-3{
  padding: 6em;
}
.full-width{
  width: 100%;
}
.center{
  align-items: center;
  justify-content: center;
}
.square-rounded-container{
  border-radius: 16px;
  border: rgb(207, 176, 0);
  border-width: 2px;
  border-style: solid;
  width: 200px;
  height: 200px;
}
img{
  object-fit: cover;
}
.card{
  text-align: center;
  max-width: 15em;
}
.gap-16{
  gap: 16px;
}
.gap-32{
  gap: 32px;
}
.right-align-self{
  align-self: flex-end;
}
.quote{
  padding: 0 2em;
}
.quote-text{
  font-style: italic;
  font-size: 36px;
  font-weight: lighter;
  color: #eee;
  padding-right: 1em;
}
.quote-name{
  font-size: 24px;
  font-weight: bold;
  color: #eee;
}
.cta{
  justify-content: flex-start;
  border-radius: 8px;
  color: #eee;
  padding: 3em 5em;
}
.cta-button{
  border-style: solid;
  background: none;  
}
.left-align{
  align-items: flex-start;
}
.right-justify{
  justify-items: flex-end;
}
button.cta-button{
  flex: 0 1 auto;
  width: 100px;
  height: fit-content;
  padding: 8px 16px;
}
.bolder{
  font-weight: bolder;
}
.font-size-medium{
  font-size: 24px;
}